<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings >
    <!--公钥-->
    <add key="PUBLIC_KEY" value ="ucloudwucaiyun@wsn.cn142857180600085509914"/>
    <!--私钥-->
    <add key ="PRIVATE_KEY" value ="3c15dbcafd0b9a2df158dfb4f9bce548006ffc2a"/>
    <!--UCloud管理服务器地址后缀-->
    <add key ="PROXY_SUFFIX" value =".ufile.ucloud.cn"/>
    <!--域名空间名称-->
    <add key ="UCLOUD_BUCKET" value ="radar"/>
  </appSettings>
</configuration>

